<ion-tabs>
  <div class="navbar">
    <ion-tab-button tab="home" href="/home"> 
      <div class="icons-container">
        <ion-icon name="home"></ion-icon>
        <!-- <ion-label>Home</ion-label> -->
      </div>
    </ion-tab-button>
    
    <ion-tab-button tab="login" href="/login" >
      <div class="icons-container">
        <ion-icon name="bookmarks"></ion-icon>
        <!-- <ion-label>Lista</ion-label> -->
      </div>
    </ion-tab-button>

    <ion-tab-button tab="login" href="/login" >
      <div class="icons-container">
        <ion-icon name="people"></ion-icon>
        <!-- <ion-label>Login</ion-label> -->
      </div>
    </ion-tab-button>

  </div>
</ion-tabs>